<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gene Set Pubmed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img src="">
        <br>
        <form action="submit_genes" method="post">
            <p>Enter the set of genes separated by commas</p>
            <br>
            <input type="text" name="input_gene_set">
            <br>
            <input type="submit" value="Submit Genes" id="submit_genes">


            <br>
            {% for message in get_flashed_messages(category_filter=['list_genes_used']) %}
                <strong>Genes found and used for the abstracts</strong>
                <p> {{message}} </p>
            {% endfor %}
            {% for message in get_flashed_messages(category_filter=['abstract_biology']) %}
                <strong>Biology abstract</strong>
                <p> <div>{{message}}</div> </p>
            {% endfor %}
            {% for message in get_flashed_messages(category_filter=['abstract_pathway']) %}
                <strong>Pathway abstract</strong>
                <p> <div>{{message}}</div> </p>
            {% endfor %}
        </form>
    </body>
</html>

